<style type="text/css">
img{
  margin:auto;
  width: 400px;
}
</style>

<div class="header-placeholder"></div>
<div class="page-header text-center container" >
	<h4> Biz Track. </h4>
</div>



<div class="row" ng-controller="dashboardController" >

<div class="col-md-12" >

		<div class="col-md-2">

				<div class="row">
					<div class="col-md-12" >
							 <button class="btn btn-primary btn-md" ng-click="getView('postshow')">Post Show Details</button>
					</div>

				</div>

		</div>

		<div class="col-md-10">


		</div>

</div>

</div>



